body{
	font-family: "Open Sans"
}

img{
	padding: 10px 30px 10px 30px;
}
div {
	margin: 118px;
	border-style: dotted;
	border-color: gray;
	display: inline-block;
	padding: 50px;
	height: 100px;
	border-width: 1px;
}